<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Details for {{ cn }}</title>
</head>
<body>
<p>
<strong>Name:</strong> {{ cn }}<br />
<strong>Phone:</strong> {{ telephoneNumber }}<br />
<strong>Mobile:</strong> {{ mobile }}<br />
<strong>Email:</strong> <a href="mailto:{{ mail }}">{{ mail }}</a>
</p>
</body>
</html>
